* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  color: #2A2C2F;
  padding-bottom: 100px;
}

a{
  color: #0056d2;
}

img{
  max-width: 100%;
}
.center{
  text-align: center;
  display: block;
}
