* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  color: #2A2C2F;
}

a{
  color: #0056d2;
}

.center{
  text-align: center;
  display: block;
}
